{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %}
    <h2>Wishlist</h2>
    <br><br>
        <table id="games">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Platform</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>{{ game.platform }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
