{% extends "layout.html" %}

{% block title %}
    Remove Games From Wishlist
{% endblock %}

{% block main %}

    <h2>Remove a Game from your Wishlist</h2>
    <br><br>    

        <form action="/wishlist_remove" method="POST">
            <div class="mb-3">
                <select class="form-control mx-auto w-auto" name="game">

                    <option value="" disabled selected>Select a game to remove</option>
                    {% for game in games %}
                        <option value="{{ game.name }}">{{ game.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Remove</button>
        </form>
{% endblock %}